{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display 1 text-center">Aplicacion con Django</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cumque rem repellat magnam sequi unde esse odit laboriosam laborum illum, nostrum nam excepturi dignissimos explicabo blanditiis nesciunt voluptatum sit exercitationem ratione? Debitis, consequuntur. Voluptatem totam incidunt iure sed repudiandae labore fuga ad rem laboriosam eveniet, velit nesciunt maxime quas, impedit accusantium dolorem voluptates odio recusandae mollitia! Praesentium aliquam exercitationem, repellendus nemo molestias est aspernatur nesciunt iste possimus a minus minima dolores non quo recusandae alias illo temporibus quisquam perspiciatis cupiditate soluta numquam quas labore fuga? Vero saepe, eum illum, soluta illo voluptatibus eos quam facere vitae incidunt eius, et modi?</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/singin/">Signin</a>
            <a class="btn btn-success" href="/singup/">Signup</a>
        </div>
    </section>

</main>


{% endblock %}